- provide :page_action, t('g.questions')

= render "projects/header_backend"

%table.table.table-nonfluid
  %thead
    %tr
      %th= Question.human_attribute_name(:created_at)
      %th= Question.human_attribute_name(:asker)
      %th{"width" => "35%"}= Question.human_attribute_name(:body)
      %th{"width" => "35%"}= Question.human_attribute_name(:answer_body)
      %th= t('g.actions')

  %tbody#questions-tbody
    :javascript
      new ProcureIo.Backbone.AdminQuestionPage({bootstrapData: #{@questions_json}, projectId: #{@project.id}});

= will_paginate @questions, class: "pagination pagination-centered"