!= page_header t('.header', name: @officer.display_name)

= link_to t('.back_to_list_html'), officers_path

= form_for @officer do |f|

  = f.label :name
  = f.text_field :name

  = f.label :title
  = f.text_field :title

  = f.label :email
  = f.text_field :email

  = f.label :role
  = f.select :role, options_for_select((@officer.role == Officer.roles[:god] ? Officer.roles : Officer.roles.except(:god)), @officer.role)

  .form-actions
    = f.submit t('actions.officer.update'), class: "btn btn-inverse"