- provide :page_action, t('globals.officers')

= render "admin/nav"

%table.table
  %thead
    %tr
      %th= Officer.human_attribute_name(:name)
      %th= User.human_attribute_name(:email)
      %th= Officer.human_attribute_name(:role)
      %th= t('globals.actions')

  %tbody
    - @officers.each do |officer|
      %tr
        %td= officer.name
        %td= officer.user.email
        %td= officer.role.name if officer.role
        %td
          - if can? :update, officer
            = link_to t('globals.edit'), edit_officer_path(officer)

= will_paginate @officers, class: "pagination pagination-centered"
