- response = @bid && @bid.responses.where(response_field_id: response_field[:id]).first

= render "shared/pieces/label", response_field: response_field

%input{"type" => "file", "name" => "response_fields[#{response_field[:id]}]", "data-required" => response_field[:field_options]["required"] ? true : false, "data-trigger" => "change", "data-value" => (response && response.upload?) ? 'exists' : false}

- if response && response.upload?
  %div.current-upload
    %strong Current Upload:
    %a{"href" => response.upload.url}= response.upload.file.filename.gsub(/\?.*$/, '')
    = link_to "(X)", project_response_path(@project, @bid, response), method: :delete, remote: true, class: "js-remove-bid-response-upload"

= render "shared/pieces/description", response_field: response_field
