= form_tag project_bids_path, method: :post, id: "new-bid-form", class: "new-bid-form", :"data-validate" => "parsley", multipart: true do
  %input{"type" => "hidden", "name" => "draft_only"}

  / We need to display server-side validations for users without js.
  / Besides, we're already writing the server-side validations for security purposes anyway.
  %noscript
    - if @bid.id && @bid.responsable_errors && !@bid.responsable_errors.empty?
      .alert.alert-danger
        %ul
          - @bid.responsable_errors.each do |e|
            %li= e

  - @project.response_fields.each do |response_field|
    .response-field-wrapper.control-group
      = render "bids/fields/#{response_field.field_type.downcase}", response_field: response_field, |
        value: (r = @bid.responses.where(response_field_id: response_field.id).first) ? r.value : ''

  .form-actions
    %button.btn.btn-inverse= t('.submit_bid')
    %a.btn#save-draft-button{"data-loading-text" => "All Changes Saved"}= t('.save_draft')

- if @bid.id
  :javascript
    $("#new-bid-form").parsley('validate')