- provide :page_action, "My Bid"

!=page_header @project.title

.row-fluid
  .span7
    %h4= t('bids.project_description')
    %p= simple_format @project.body

  .span5
    %h4= t('.my_bid')

    %div
      - if @bid.dismissed?
        %span.badge.badge-important= t('bids.dismissed')
      - elsif @bid.awarded?
        %span.badge.badge-success= t('bids.awarded')
      - else
        %span.badge.badge-info= t('bids.open')

    = link_to t('.return_to_project_html'), @project

    = render "bid"