- provide :page_action, @bid.bidder_name

= render "projects/officer_nav"

#bid-page
  :javascript
    new ProcureIo.Backbone.BidPageView({
      bootstrapData: #{@bid_json},
      project: #{ProjectSerializer.new(@project, root: false).to_json},
      #{render partial: "projects/abilities_node", formats: [:js]}
    });

- if can?(:see_all_bid_reviews?, @project)
  #bid-page-reviews
    :javascript
      new ProcureIo.Backbone.BidPageReviewsView({
        bootstrapData: #{@reviews_json}
      });

- if GlobalConfig.instance[:comments_enabled] && can?(:read_and_write_bid_comments, @project)
  #comment-page
    :javascript
      new ProcureIo.Backbone.CommentPageView({
        bootstrapData: #{@comments_json},
        commentableType: "Bid",
        commentableId: #{@bid.id}
      });
