- provide :page_action, @bid.vendor.display_name

= render "projects/officer_nav"

- if can? :destroy, @bid
  = link_to t('g.delete_bid'), project_bid_path(@project, @bid), method: :delete, confirm: t('confirmations.delete_bid')

#bid-page
  :javascript
    new ProcureIo.Backbone.BidPageView({
      bootstrapData: #{@bid_json},
      project: #{ProjectSerializer.new(@project, root: false).to_json},
      #{render partial: "projects/abilities_node", formats: [:js]}
    });

- if GlobalConfig.instance[:comments_enabled]
  #comment-page
    :javascript
      new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "Bid", commentableId: #{@bid.id}});
