- provide :page_action, t('g.my_bid')

= render "projects/header_frontend"

.row-fluid
  .span7
    %h4= t('g.project_description')
    %p= simple_format @project.body

  .span5
    %h4.inline-block= t('g.my_bid')

    - if @bid.dismissed?
      %span.badge.badge-important= t('g.dismissed')
    - elsif @bid.awarded?
      %span.badge.badge-success= t('g.awarded')
    - else
      %span.badge.badge-info= t('g.open')

    .clearfix

    = link_to t('.return_to_project_html'), @project

    = render "bid"
