!=page_header @project.title

= render "projects/officer_nav"

#bid-page
  :javascript
    new ProcureIo.Backbone.BidPageView({bootstrapData: #{@bid_json}, projectId: #{@project.id}});

#comment-page
  :javascript
    new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "bid", commentableId: #{@bid.id}});
