- provide :page_action, @bid.vendor.display_name

= render "projects/officer_nav"

- if can? :destroy, @bid
  = link_to t('actions.bid.delete'), project_bid_path(@project, @bid), method: :delete, confirm: t('confirmations.bid.delete')

#bid-page
  :javascript
    new ProcureIo.Backbone.BidPageView({bootstrapData: #{@bid_json}, project: #{ProjectSerializer.new(@project, root: false).to_json}});

- if GlobalConfig.instance[:comments_enabled]
  #comment-page
    :javascript
      new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "bid", commentableId: #{@bid.id}});
