- provide :page_title, t('g.forgot_password')
!= page_header t('g.forgot_password')

= form_tag users_forgot_password_path, method: :post, "data-validate" => "parsley" do

  .control-group
    = label_tag :email, User.human_attribute_name(:email)
    = text_field_tag :email, nil, "data-required" => true

  .form-actions
    %button.btn.btn-primary= t('g.send_reset_password_instructions')
