!=page_header "Settings"

= form_for current_officer, url: settings_path do |f|

  %h4 Profile

  = f.label :name
  = f.text_field :name

  = f.label :title
  = f.text_field :title

  = render 'users/notification_settings', event_types: Officer.event_types

  .form-actions
    = f.submit class: "btn btn-inverse"