!=page_header t('.header')

= form_for current_officer, url: settings_path do |f|

  %h4= t('.profile')

  = f.label :name
  = f.text_field :name

  = f.label :title
  = f.text_field :title

  %h4= t('.dev_header')
  %label= t('.api_key')
  %a.js-api-key-hide{"data-toggle" => "showhide", "data-target" => ".js-api-key-hide", "data-toggle-text" => t('globals.hide_paren')}= t('globals.show_paren')

  = render 'users/notification_settings', event_types: Officer.event_types

  .form-actions
    = f.submit class: "btn btn-inverse"