!=page_header "Settings"

= form_for current_officer, url: settings_path do |f|

  %h4 Profile

  = f.label :name
  = f.text_field :name

  = f.label :title
  = f.text_field :title

  %h4 Developer
  %label API Key
  %code.js-api-key-hide.hide= current_officer.authentication_token
  %a.js-api-key-hide{"data-toggle" => "showhide", "data-target" => ".js-api-key-hide", "data-toggle-text" => "(hide)"} (show)

  = render 'users/notification_settings', event_types: Officer.event_types

  .form-actions
    = f.submit class: "btn btn-inverse"