!= page_header t('.header')

.alert.alert-info
  Hey <strong>#{@user.email}</strong>, sorry you forgot your password! You can create a new one below.

= form_for @user, url: users_reset_password_path, method: :post do |f|
  = f.label :password
  = f.password_field :password, autofocus: true

  .form-actions
    = f.submit 'Save', class: "btn btn-inverse"