!=page_header "Sign in"

= form_tag users_signin_path, method: :post do

  %label Email
  = text_field_tag :email, nil, placeholder: "Email Address"

  %label Password
  = password_field_tag :password, nil, placeholder: "Password"

  .form-actions
    %button.btn.btn-primary Sign in
    or <a href="#{new_vendor_registration_path}">sign up</a>.

  .forgot-password-wrapper
    Did you <a href="#{users_forgot_password_path}">forget your password</a>?