!=page_header t('.header')

= form_for current_vendor, url: settings_path do |f|

  %h4= t('.vendor_profile')
  = link_to t('.edit_profile'), vendor_profile_path


  %h4= t('.profile')

  = f.label :name
  = f.text_field :name

  = render 'users/notification_settings', event_types: Vendor.event_types

  .form-actions
    = f.submit class: "btn btn-inverse"