%table.table.table-nonfluid#collaborators-table
  %thead
    %tr
      %th= t('.name')
      %th= t('.email')
      %th= t('.status')
      %th= t('globals.actions')

  %tbody#collaborators-tbody
    - collaborators.each do |collaborator|
      = render "collaborator", collaborator: collaborator
