= render "projects/officer_nav"

= render layout: "projects/admin_sidebar" do
  %table.table.table-nonfluid
    %thead
      %tr
        %th= t('.name')
        %th= t('actions')

    %tbody#collaborators-tbody
      :javascript
        new ProcureIo.Backbone.CollaboratorPage({bootstrapData: #{@collaborators_json}, projectId: #{@project.id}, ownerId: #{@project.owner_id}});

  %h5 Add Collaborator
  = form_for [@project, @project.collaborators.build] do |f|
    = f.fields_for :officer do |f|
      = f.text_field :email, autocomplete: "off", placeholder: t('email_address')
    %br
    = f.submit t('actions.collaborator.create'), class: "btn btn-inverse", "data-loading-text" => t('actions.collaborator.create_loading')
