- provide :page_action, "Collaborators"

= render "projects/officer_nav"

= render layout: "projects/admin_sidebar" do
  = render "collaborators/table", collaborators: @collaborators

  %h5 Add Collaborator
  = form_tag project_collaborators_path(@project), method: :post, remote: true, id: "new_collaborator" do |f|

    .email-inputs
      .control-group
        %input.single-email{"type" => "text", "name" => "email", "autocomplete" => "off", "placeholder" => t('globals.email_address')}
        %textarea.bulk-email.span6{"name" => "email", "disabled" => true, "placeholder" => "List of comma-separated emails", "rows" => 4}

    - if can? :update, Officer
      %div
        If they're not already registered, we'll invite them and assign them the site-wide role of
        %select{"name" => "role_id"}
          - Role.assignable_by_officer(current_officer).each do |role|
            %option{"value" => role.id}= role.name

    %small
      %a.js-toggle-single-bulk{"data-toggle-text" => "Add one collaborator"} Add multiple collaborators

    .form-actions
      %button.btn.btn-inverse{"data-loading-text" => t('actions.collaborator.create_loading')}= t('actions.collaborator.create')
