!=page_header @project.title

= render "projects/officer_nav"

%table.table
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @collaborators.each do |collaborator|
      %tr
        %td
          =collaborator.officer.name
          - if collaborator.owner
            %i.icon-star
        %td actions

= form_for [@project, @project.collaborators.build] do |f|
  = f.fields_for :officer do |f|
    = f.text_field :email
  = f.submit "Add Collaborator", class: "btn btn-inverse"