= render "projects/officer_nav"

= render layout: "projects/admin_sidebar" do
  = render "collaborators/table", collaborators: @collaborators

  %h5 Add Collaborator
  = form_for [@project, @project.collaborators.build], remote: true do |f|
    = f.fields_for :officer do |f|
      = f.text_field :email, autocomplete: "off", placeholder: t('globals.email_address')
    %br
    = f.submit t('actions.collaborator.create'), class: "btn btn-inverse", "data-loading-text" => t('actions.collaborator.create_loading')
