- provide :page_action, t('globals.advanced')

= render "admin/nav"

= form_for @global_config, url: global_config_path(updating_advanced: true) do |f|
  %h4= t('.enable_disable_features')

  - GlobalConfig::ON_OFF_FEATURES.each do |k|
    %label.checkbox
      .switch
        = f.check_box k
      = GlobalConfig.human_attribute_name k

  .form-actions
    = f.submit t('globals.save'), class: "btn btn-inverse"
