- provide :page_action, t('g.event_hooks')

= render "admin/nav"

= form_for @global_config, url: global_config_path(updating_event_hooks: true) do |f|
  .row-fluid
    .span3
      %ul.nav.nav-stacked.nav-pills
        - GlobalConfig.event_hooks.each do |k, v|
          %li
            %a{"data-toggle" => "tab", "data-target" => "#event-hook-#{v}"}= GlobalConfig.event_hook_name_for(k)
    .span9
      .tab-content#event-hook-tab-content
        - GlobalConfig.event_hooks.each do |k, v|
          - current_value = @global_config.event_hooks[v]
          .tab-pane{"id" => "event-hook-#{v}"}
            = render "global_config/event_hook_options/#{k.to_s}", k: k, v: v, current_value: current_value

  .form-actions
    = f.submit "Save", class: "btn btn-inverse"
