!= page_header "Site Settings"

= form_for @global_config do |f|
  %h4 Enable/Disable Features

  %label.checkbox
    .switch
      = f.check_box :bid_review_enabled
    Bid review

  %label.checkbox
    .switch
      = f.check_box :bid_submission_enabled
    Bid submission

  %label.checkbox
    .switch
      = f.check_box :comments_enabled
    Comments

  %label.checkbox
    .switch
      = f.check_box :questions_enabled
    Questions

  %label.checkbox
    .switch
      = f.check_box :amendments_enabled
    Amendments

  %label.checkbox
    .switch
      = f.check_box :watch_projects_enabled
    Watch Projects

  %label.checkbox
    .switch
      = f.check_box :save_searches_enabled
    Save Searches

  %label.checkbox
    .switch
      = f.check_box :search_projects_enabled
    Fancy projects page

  %h4 Event Hooks

  .row-fluid
    .span3
      %ul.nav.nav-stacked.nav-pills
        - GlobalConfig.event_hooks.each do |k, v|
          %li
            %a{"data-toggle" => "tab", "data-target" => "#event-hook-#{v}"}= GlobalConfig.event_hook_name_for(k)
    .span9
      .tab-content#event-hook-tab-content
        - GlobalConfig.event_hooks.each do |k, v|
          - current_value = @global_config.event_hooks[v]
          .tab-pane{"id" => "event-hook-#{v}"}
            = render "global_config/event_hook_options/#{k.to_s}", k: k, v: v, current_value: current_value

  .form-actions
    = f.submit "Save", class: "btn btn-inverse"

