- provide :page_action, t('globals.account')

= render "settings/header"

= render layout: "settings/sidebar" do

  = form_for current_user, url: settings_account_path, method: :post, html: {"data-validate" => "parsley"} do |f|

    .control-group
      = f.required_label :email
      = f.text_field :email, "data-required" => true, "data-type" => "email", "data-remote" => users_validate_email_path, "data-existing" => current_user.email

    .control-group
      = f.optional_label :new_password
      = f.password_field :new_password

    .form-actions
      - unless !current_user.crypted_password
        .control-group
          = f.required_label :current_password, t('globals.enter_your_current_password_to_confirm')
          = f.password_field :current_password, "data-required" => true

      = f.submit class: "btn btn-inverse"
