- provide :page_action, "Account"

= render "settings/header"

= render layout: "settings/sidebar" do

  = form_for current_user, url: settings_account_path, method: :post, html: {"data-validate" => "parsley"} do |f|

    .control-group
      = f.required_label :email
      = f.text_field :email, "data-required" => true, "data-type" => "email", "data-remote" => users_validate_email_path, "data-existing" => current_user.email

    .control-group
      = f.optional_label :new_password
      = f.password_field :new_password

    .form-actions
      .control-group
        = f.required_label :current_password, "Enter your current password to confirm these changes."
        = f.password_field :current_password, "data-required" => true

      = f.submit class: "btn btn-inverse"