- provide :page_action, t('g.notifications')

= render "settings/header"

= render layout: "settings/sidebar" do

  = form_for current_officer, url: settings_notifications_path, method: :post do |f|

    = render 'settings/notifications', event_types: Officer.event_types

    .form-actions
      = f.submit class: "btn btn-inverse"
