- provide :page_action, t('globals.profile')

= render "settings/header"

= render layout: "settings/sidebar" do

  = form_for current_officer, url: settings_profile_path, method: :post do |f|

    .control-group
      = f.optional_label :name
      = f.text_field :name

    .control-group
      = f.optional_label :title
      = f.text_field :title

    .control-group
      = f.label :role
      %input{"type" => "text", "disabled" => true, "value" => current_officer.role.name}

    .form-actions
      = f.submit class: "btn btn-inverse"
