.project-officer-nav
  .header
    %h3
      = @project.title

    = link_to raw(@project.watched_by?(current_user) ? "Watching Project <i class='icon-star'></i>" : "Watch Project <i class='icon-star-empty'></i>"), |
              watches_path("Project", @project), method: :post, |
              class: "btn #{@project.watched_by?(current_user) ? 'btn-inverse' : ''}"

  .clearfix

  %ul.nav.nav-tabs
    - if GlobalConfig.instance[:bid_review_enabled]
      %li{"class" => active?("bids")}
        %a{"href" => project_bids_path(@project)}
          %span
            %span.visible-desktop Review Bids
            %span.hidden-desktop Bids
          - if @project.bids.submitted.open.count > 0
            %span.badge.badge-info= @project.bids.submitted.open.count

    - if GlobalConfig.instance[:questions_enabled]
      %li{"class" => active?("questions#index")}
        %a{"href" => project_questions_path(@project)}
          %span
            %span.visible-desktop Answer Questions
            %span.hidden-desktop Questions
          - if @project.questions.unanswered.count > 0
            %span.badge.badge-info= @project.questions.unanswered.count

    %li{"class" => active?("projects#edit") || active?("amendments") || active?("project_revisions")}
      %a{"href" => edit_project_path(@project)}
        %span
          %span.visible-desktop Project Description
          %span.hidden-desktop Description

    %li{"class" => active?("response_fields")}
      =link_to "Response Fields", project_response_fields_path(@project)

    - if GlobalConfig.instance[:comments_enabled]
      %li{"class" => active?("projects#comments")}
        =link_to "Comments", comments_project_path(@project)

    - if @project.posted?
      %li{"class" => active?("reports")}
        =link_to "Reports", bids_over_time_project_reports_path(@project)

    %li{"class" => active?("collaborators") || active?("projects#import_csv") || active?("projects#export_csv") || active?("projects#wufoo")}
      =link_to "Admin", project_collaborators_path(@project)

    %li.pull-right
      %a{"href" => project_path(@project)}
        %span
          %span.visible-desktop
            View
          %i.icon-share-alt
