- provide :page_title, @project.title

.action-header-wrapper
  .row
    %h3.span8
      = @project.title
      %small
        %span.badge.badge-indicator{"class" => project_status_badge_class(@project.status)}
        = project_status_text(@project.status)

    .span4
      %a.btn.pull-right.view-project-button{"href" => project_path(@project)}
        = t('g.view_posting')
        %i.icon-share-alt

      != watch_button(@project, t('tooltips.watch_project'), "bottom")

  .clearfix

%ul.nav.nav-tabs
  - if can_view_subnav?("bids")
    %li{"class" => active_subnav?("bids")}
      %a{"href" => project_bids_path(@project)}
        %span= t('g.bids')
        - if @project.bids.submitted.join_my_bid_review(current_officer.id).unread.count > 0
          %span.badge.badge-info= @project.bids.submitted.join_my_bid_review(current_officer.id).unread.count

  - if can? :edit_project_details, @project
    %li{"class" => active_page?("projects#edit") || active_page?("amendments") || active_page?("project_revisions")}
      %a{"href" => edit_project_path(@project)}
        = t('g.edit_posting')

  - if GlobalConfig.instance[:questions_enabled] && (can? :answer_questions, @project)
    %li{"class" => active_page?("questions#index")}
      %a{"href" => project_questions_path(@project)}
        = t('g.q_and_a')
        - if @project.questions.unanswered.count > 0
          %span.badge.badge-info= @project.questions.unanswered.count


  - if GlobalConfig.instance[:comments_enabled] && (can? :read_and_write_project_comments, @project)
    %li{"class" => active_page?("projects#comments")}
      =link_to t('g.discuss'), comments_project_path(@project)

  - if can_view_subnav?("stats")
    %li{"class" => active_subnav?("stats")}
      %a{"href" => (can? :access_reports, @project) ? bids_over_time_project_reports_path(@project) : reviewer_leaderboard_project_path(@project)}
        %span= t('g.stats')

  %li{"class" => active_subnav?("admin")}
    =link_to t('g.admin'), project_collaborators_path(@project)


- if active_subnav?("bids")
  .subnav.project-subnav
    %ul.nav.nav-pills
      - if can? :read_bids, @project
        %li{"class" => active_page?("bids")}
          %a{"href" => project_bids_path(@project)}
            = t('g.review_bids')
            / - if @project.bids.submitted.join_my_bid_review(current_officer.id).unread.count > 0
            /   %span.badge.badge-info= @project.bids.submitted.join_my_bid_review(current_officer.id).unread.count

      - if can? :manage_response_fields, @project
        %li{"class" => active_page?("projects#response_fields")}
          %a{"href" => response_fields_project_path(@project)}= t('g.edit_response_fields')

      - if can? :change_review_mode, @project
        %li{"class" => active_page?("projects#review_mode")}
          %a{"href" => review_mode_project_path(@project)}= t('g.change_review_mode')

- if active_subnav?("stats")
  .subnav.project-subnav
    %ul.nav.nav-pills
      - if can? :access_reports, @project
        %li{"class" => "#{active_page?("reports")} #{if !@project.posted? then 'disabled' end}"}
          = link_to t('g.reports'), @project.posted? ? bids_over_time_project_reports_path(@project) : '#', |
              "data-toggle" => if !@project.posted? then "tooltip" end, |
              "title" => if !@project.posted? then t('.reports_available_after_post') end

      - if GlobalConfig.instance[:reviewer_leaderboard_enabled]
        %li{"class" => active_page?("projects#reviewer_leaderboard")}
          %a{"href" => reviewer_leaderboard_project_path(@project)}
            = t('g.reviewer_leaderboard')

- if active_subnav?("admin")
  .subnav.project-subnav
    %ul.nav.nav-pills
      %li{"class" => active_page?("collaborators#index")}
        =link_to t('g.collaborators'), project_collaborators_path(@project)

      - if can? :import_bids, @project
        %li{"class" => active_page?("projects#import_csv")}
          =link_to t('g.import_bids_from_csv'), import_csv_project_path(@project)

      - if can? :export_bids, @project
        %li{"class" => active_page?("projects#export_csv")}
          =link_to t('g.export_bids'), export_csv_project_path(@project)

