%h3
  = @project.title

= link_to @project.watched_by?(current_user) ? "Watching Project" : "Watch Project", watches_path("Project", @project), method: :post, class: "btn #{@project.watched_by?(current_user) ? 'btn-inverse' : ''}"

%hr

%ul.nav.nav-tabs
  %li{"class" => params[:controller] == "bids" ? "active" : ""}
    %a{"href" => project_bids_path(@project)}
      Review Bids
      - if @project.bids.submitted.open.count > 0
        %span.badge.badge-info= @project.bids.submitted.open.count

  %li{"class" => params[:controller] == "questions" && params[:action] == "index" ? "active" : ""}
    %a{"href" => project_questions_path(@project)}
      Answer Questions
      - if @project.questions.unanswered.count > 0
        %span.badge.badge-info= @project.questions.unanswered.count
  %li{"class" => params[:controller] == "projects" && params[:action] == "edit" ? "active" : ""}
    =link_to "Project Description", edit_project_path(@project)
  %li{"class" => params[:controller] == "response_fields" ? "active" : ""}
    =link_to "Response Fields", project_response_fields_path(@project)
  %li{"class" => params[:controller] == "projects" && params[:action] == "comments" ? "active" : ""}
    =link_to "Comments", comments_project_path(@project)
  %li{"class" => (params[:controller] == "collaborators" && params[:action] == "index") || (params[:controller] == "projects" && params[:action] == "import_csv") || (params[:controller] == "projects" && params[:action] == "export_csv") || (params[:controller] == "projects" && params[:action] == "wufoo") ? "active" : ""}
    =link_to "Admin", project_collaborators_path(@project)

  %li.pull-right
    %a{"href" => project_path(@project)}
      View Project
      %i.icon-share-alt
