.project
  %div
    %span.project-name
      %a{"href" => project_path(project)}= project.title

    - if !defined?(show_organization) || show_organization
      %span.badge= project.organization.name

  .project-abstract= project.abstract_or_truncated_body

  .bottom-info
    - if project.tags.length > 0
      %span.project-tags
        #{I18n.t('g.categories')}:
        - project.tags.each_with_index do |tag, i|
          <a href="#" data-backbone-updatefilter="true">#{tag.name}</a>#{i != project.tags.length - 1 ? ', ' : ''}

      &middot;

    %span.project-bids-due-at
      - if project.bids_due_at
        #{I18n.t('g.bids_due_on')} #{project.bids_due_at.to_formatted_s(:readable_dateonly)}
      - else
        = I18n.t('g.no_due_date')

    &middot;

    %span.posted-at
      #{I18n.t('g.posted_on')} #{project.posted_at.to_formatted_s(:readable_dateonly)}
