= render "projects/officer_nav"

= form_for @project do |f|
  .row-fluid
    .span6
      = f.label :body
      = f.text_area :body

      %h5 Revisions
      %ul
        - @project.project_revisions.each do |project_revision|
          %li
            %a{"href" => project_project_revision_path(@project, project_revision)}
              #{project_revision.created_at.to_formatted_s(:readable)} by #{project_revision.saved_by_officer ? project_revision.saved_by_officer.display_name : 'Unknown'}


    .span6
      = f.label :posted_at, "Live"
      .switch
        = f.check_box :posted_at

      = f.label :featured
      .switch
        = f.check_box :featured

      = f.label :title
      = f.text_field :title, class: "span10"

      = f.label :tags
      = f.text_field :tags, value: @project.tags.map(&:name).join(",")

      :javascript
        $("#project_tags").select2({
          tags: #{Tag.all_for_select2.to_json},
          tokenSeparators: [','],
          width: "off",
          containerCssClass: 'span10'
        });

      = f.label :bids_due_at
      = f.datetime_select :bids_due_at, {include_blank: true}, style: "width: 100px;"

      - if GlobalConfig.instance[:amendments_enabled]
        %div
          %label
            Amendments
            = link_to "New Amendment", project_amendments_path(@project), method: :post, class: "btn btn-mini"

          - if @project.amendments.length > 0
            %ul
              - @project.amendments.each do |amendment|
                %li
                  %a{"href" => edit_project_amendment_path(@project, amendment)}= amendment.title || amendment.id
          - else
            %div No amendments.


      = f.label :abstract
      = f.text_area :abstract, class: "span10"


  .form-actions
    = f.submit "Update Project", class: "btn btn-inverse"