- provide :page_action, t('globals.edit_description')

= render "projects/officer_nav"

= form_for @project, html: { "data-validate" => "parsley" } do |f|
  .row-fluid
    .span6
      .control-group
        = f.label :body
        = f.text_area :body

      = render "project_revisions/list", project: @project

    .span6
      .control-group
        = f.label :posted_at, t('postable_by_officer.live')
        .switch
          = f.check_box :posted_at

      .control-group
        = f.label :featured
        .switch
          = f.check_box :featured

      .control-group
        = f.required_label :title
        = f.text_field :title, class: "span10", "data-required" => true

      .control-group
        = f.optional_label :tags
        = f.text_field :tags, value: @project.tags.map(&:name).join(",")

      :javascript
        $("#project_tags").select2({
          tags: #{Tag.all_for_select2.to_json},
          tokenSeparators: [','],
          width: "off",
          containerCssClass: 'span10'
        });

      .control-group
        = f.optional_label :bids_due_at
        = f.datetime_select :bids_due_at, {include_blank: true}, style: "width: 100px;"

      - if GlobalConfig.instance[:amendments_enabled]
        %div
          %label
            = t('globals.amendments')
            = link_to t('globals.new_amendment'), project_amendments_path(@project), method: :post, class: "btn btn-mini"

          - if @project.amendments.length > 0
            %ul
              - @project.amendments.each do |amendment|
                %li
                  %a{"href" => edit_project_amendment_path(@project, amendment)}= amendment.title || amendment.id
          - else
            %div= t('globals.no_amendments')

      .control-group
        = f.optional_label :abstract
        = f.text_area :abstract, class: "span10"

  .form-actions
    = f.submit t('globals.update_project'), class: "btn btn-inverse"
