!=page_header @project.title

= render "projects/officer_nav"

= form_for @project do |f|
  = f.label :posted, "Live?"
  .switch{"data-on-label" => "Yes", "data-off-label" => "NO"}
    = f.check_box :posted

  = f.label :title
  = f.text_field :title, class: "span4"

  = f.label :tags
  = f.text_field :tags, value: @project.tags.map(&:name).join(",")

  :javascript
    $("#project_tags").select2({
      tags: #{Tag.all_for_select2.to_json},
      width: "300px"
    });

  = f.label :bids_due_at
  = f.text_field :bids_due_at

  = f.label :body
  = f.text_area :body, class: "span8"

  .form-actions
    = f.submit "Update Project", class: "btn btn-inverse"