- provide :page_action, t('globals.import_bids')

= render "projects/officer_nav"

= render layout: "projects/admin_sidebar" do
  .alert.alert-warning= t('globals.experimental_follow_steps_html')

  .readable-width
    %p
      <strong>1.</strong>
      = t('projects.import_csv.step_1.line_html', link: link_to(t('projects.import_csv.step_1.link'), response_fields_project_path(@project)))

    %p
      <strong>2.</strong>
      = t('projects.import_csv.step_2.line_1')

    %p
      <code>Name</code>, <code>Email</code>,
      != @project.response_fields.map {|rf| "<code>#{rf.label}</code>"}.join(", ")

    %p= t('projects.import_csv.step_2.line_2')

    %p
      <strong>3.</strong>
      = t('projects.import_csv.step_3')

  = form_tag import_csv_project_path(@project), multipart: true do
    %label{"for" => "file"}= t('globals.file_to_import')
    = file_field_tag "file"
    %div
      %button.btn.btn-inverse= t('globals.upload')
