!= page_header t('.header')

.basic-projects-list
  - @projects.each do |project|
    .project
      = link_to project.title, project, class: "project-title"
      - if project.featured?
        %i.icon-star
      .abstract
        = project.abstract_or_truncated_body
        = link_to t('.read_more'), project
      .bids-due
        - if project.bids_due_at
          = t('projects.bids_due_on', date: project.bids_due_at.to_formatted_s(:readable_dateonly))
        - else
          = t('projects.open_for_bids')
