- provide :page_title, "My Projects"

!=page_header t('.header')

%a.btn.btn-small{"href" => new_project_path}= t('actions.project.new')

%table.table.table-boredered
  %thead
    %tr
      %th= t('.type')
      %th= t('.project_title')
      %th= t('.number_bids')
      %th= t('.bids_due')

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.tags.map(&:name).join(', ')
        %td= link_to project.title, edit_project_path(project)
        %td= link_to project.bids.submitted.count, project_bids_path(project)
        %td
          - if project.bids_due_at
            = project.bids_due_at.to_formatted_s(:readable)
          - else
            = t('projects.open_for_bids')

= will_paginate @projects, class: "pagination pagination-centered"