- provide :page_action, t('g.mine')

= render "projects/officer_subnav"

#searchable-table-page.search-page
  :javascript
    new ProcureIo.Backbone.SearchableTable({
      collection: ProcureIo.Backbone.ProjectList,
      columns: [
        {
          name: "#{t('g.status')}",
          accessor: function(model){
            return "<a data-toggle='tooltip' title='"+model.get('status_text')+"'>\
              <span class='badge badge-indicator "+model.get('status_badge_class')+"'></span>\
            </a>";
          }
        },
        {
          name: "#{Project.human_attribute_name(:title)}",
          accessor: function(model){
            return "<a href='/projects/"+model.get('id')+"/edit'>" + model.get('title') + "</a>";
          },
          sortKey: 'title',
          defaultSort: 'asc'
        },
        {
          name: "#{t('g.number_of_bids')}",
          accessor: function(model){
            return "<a href='/projects/"+model.get('id')+"/bids'>" + model.get('total_submitted_bids') + "</a>";
          },
          sortKey: 'total_submitted_bids',
        },
        {
          name: "#{t('g.bids_due')}",
          accessor: function(model){
            if (model.get('bids_due_at')) {
              return moment(model.get('bids_due_at')).format(ProcureIo.READABLE);
            } else {
              return I18n.t('g.no_due_date');
            }
          },
          sortKey: 'bids_due_at',
        }
      ],
      actions: false
    });
