- provide :page_title, t('g.my_projects')

!=page_header t('g.my_projects')

%a.btn.btn-small{"href" => new_project_path}= t('g.new_project')

%table.table.table-boredered
  %thead
    %tr
      %th= t('g.type')
      %th= t('g.project_title')
      %th= t('g.number_of_bids')
      %th= t('g.bids_due')

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.tags.map(&:name).join(', ')
        %td= link_to project.title, project_path(project)
        %td= link_to project.bids.submitted.count, project_bids_path(project)
        %td
          - if project.bids_due_at
            = project.bids_due_at.to_formatted_s(:readable)
          - else
            = t('g.open_for_bids')

= will_paginate @projects, class: "pagination pagination-centered"
