- provide :page_title, t('g.new_project')

!=page_header t('g.new_project')

%p= t('.instructions')

= form_for @project, html: {"data-validate" => "parsley"} do |f|
  .control-group
    = f.required_label :title
    = f.text_field :title, "data-required" => true

  .form-actions
    = f.submit t('g.submit'), class: "btn btn-inverse"
