- if can? :collaborate_on, @project
  .alert.alert-success= t('.you_are_collaborator.line_html', link: link_to(t('.you_are_collaborator.link'), edit_project_path(@project)))

!= page_header @project.title do
  %small
    - if @project.featured
      %i.icon-star
    - if @project.bids_due_at
      = t("projects.#{@project.open_for_bids? ? 'bids_due_on' : 'bids_were_due_on'}", date: @project.bids_due_at.to_formatted_s(:readable))
    - else
      = t('projects.open_for_bids')

.row-fluid
  .span7
    - if @project.abstract
      %h4= t('projects.abstract')
      %p= @project.abstract

    %h4
      = t('projects.description')
      - if @project.amendments.posted.any?
        %small= t('.jump_to_amendments_html', count: @project.amendments.posted.length)

    %p= simple_format @project.body

    - if @project.amendments.posted.any?
      #amendments
        %h4= t('projects.amendments')
        - @project.amendments.posted.each do |amendment|
          %h5
            = amendment.title
            %small= t('amendments.posted_on', date: amendment.posted_at.to_formatted_s(:readable_dateonly))
          %p= simple_format amendment.body

  .span5
    - if vendor_signed_in?
      = link_to @project.watched_by?(current_user) ? t('projects.watching_project_html') : t('projects.watch_project_html'), watches_path("Project", @project), |
                method: :post, class: "btn #{@project.watched_by?(current_user) ? 'btn-inverse' : ''}"

    - if GlobalConfig.instance[:bid_submission_enabled] && @project.open_for_bids?
      - if vendor_signed_in?
        - if (bid = current_vendor.bid_for_project(@project))
          - if bid.submitted_at
            = t('.you_submitted_your_bid.line_html', link: link_to(t('.you_submitted_your_bid.link'), project_bid_path(@project, bid)), date: bid.submitted_at.to_formatted_s(:readable))
          - else
            =link_to t('.continue_writing_bid'), new_project_bid_path(@project), class: "btn btn-inverse"
        - else
          =link_to t('.bid_now'), new_project_bid_path(@project), class: "btn btn-inverse"
      - elsif !officer_signed_in?
        = t('.sign_in_to_bid.line_html', link: link_to(t('.sign_in_to_bid.link'), users_signin_path))


    - if GlobalConfig.instance[:questions_enabled]
      %h4= t('projects.questions')
      - if vendor_signed_in?
        #ask-question.collapse
          = form_for [@project, Question.new] do |f|
            = f.text_area :body, cols: nil, rows: nil, class: "span8"
            %br
            = f.submit t('actions.question.create'), class: "btn btn-inverse"
        %a#ask-question-toggle{"data-toggle" => "collapse", "data-target" => "#ask-question", "data-toggle-text" => "(hide)"} Ask question
      - elsif officer_signed_in? && (can? :collaborate_on, @project)
        .alert.alert-success
          = t('.click_here_to_answer_questions.line_html', link: link_to(t('.click_here_to_answer_questions.link'), project_questions_path(@project)))
      - elsif !officer_signed_in?
        = t('.sign_in_to_ask_question.line_html', link: link_to(t('.sign_in_to_ask_question.link'), users_signin_path))

      #questions-list
        :javascript
          new ProcureIo.Backbone.QuestionPage({bootstrapData: #{@questions_json}, projectId: #{@project.id}});
