- provide :page_action, t('g.teams')

= render "projects/header_backend"

%h4 Teams with access

.row-fluid
  .span6
    %table.table
      %thead
        %tr
          %th Name
          %th # of Members
          %th Actions

      %tbody#project-teams-tbody
        - @teams.each do |team|
          %tr
            %td= link_to team.name, edit_organization_team_path(@project.organization, team)
            %td= team.organization_team_members.count
            %td
              - if team.is_owners
                Owners team has access to all projects.
              - else
                = link_to "Add members to team", edit_organization_team_path(@project.organization, team), class: "btn btn-mini"
                = link_to "Remove", team_project_path(@project, team_id: team.id), method: :delete, class: "btn btn-danger btn-mini"


%h5 Add Existing Team

= form_tag team_project_path(@project), method: :post do

  .control-group
    %select{"name" => "team_id"}
      - @project.team_choices.each do |team|
        %option{"value" => team.id}= team.name
    .help-block or create a <a href="#{new_organization_team_path(@project.organization)}">new team</a>

  %button.btn.btn-primary= I18n.t('g.submit')
