= simple_form_for @vendor, validate: true do |f|

  = f.input :name, label: "Business Name", hint: "The name of your business. e.g. 'Department of Better Technology, LLC'."
  = f.input :contact_name
  = f.input :email, label: "Contact Email", hint: 'A public email address for your business.'
  = f.input :phone_number
  = f.input :address_line_1
  = f.input :address_line_2
  = f.input :city
  = f.input :state
  = f.input :zip

  .form-actions
    = f.button :submit, class: 'btn-primary'
    - if @vendor.new_record?
      %span.help-inline Or did you want to <a href="#{new_organization_path}">create an organization</a>?
