- provide :page_action, @vendor.display_name

= render "admin/nav"

= link_to t('.back_to_list_html'), vendors_path

= form_for @vendor, html: { multipart: true, "data-validate" => "parsley" }  do |f|

  .control-group
    = f.required_label :name
    = f.text_field :name, "data-required" => true

  = f.fields_for :user do |f|
    .control-group
      = f.required_label :email
      = f.text_field :email, "data-required" => true, "data-type" => "email", "data-remote" => users_validate_email_path, "data-existing" => @vendor.user.email

  = render "shared/form_fields", response_fields: GlobalConfig.instance.response_fields, responsable: @vendor_profile

  .form-actions
    = f.submit "Save Vendor", class: "btn btn-primary"