- provide :page_action, "Edit info"

= render layout: "shared/user_sidebar" do

  = render "subnav"

  = simple_form_for @vendor, validate: true do |f|
    = f.input :name
    = f.input :email

    .form-actions
      = f.button :submit, class: 'btn-primary'

  = link_to "Delete Vendor", vendor_path, method: :delete, data: { confirm: "Are you sure?" }