- provide :page_title, t('globals.sign_up')
!= page_header t('globals.sign_up')

= form_for @vendor, url: vendors_path, method: :post, html: { multipart: true, "data-validate" => "parsley" } do |f|

  .control-group
    = f.required_label :name
    = f.text_field :name, "data-required" => true

  = f.fields_for User.new do |f|
    .control-group
      = f.required_label :email
      = f.text_field :email, "data-required" => true, "data-type" => "email", "data-remote" => users_validate_email_path

    .control-group
      = f.required_label :password
      = f.password_field :password, "data-required" => true


  = render "shared/form_fields", response_fields: @response_fields, responsable: @vendor_profile


  .form-actions
    = f.submit t('globals.submit'), class: "btn btn-primary"
