- provide :page_title, "Sign Up"

%h3 Sign up

= form_for @vendor, url: vendors_path, method: :post, html: { multipart: true, "data-validate" => "parsley" } do |f|

  .row-fluid
    .span4
      .control-group
        = f.label :name
        = f.text_field :name

      = f.fields_for User.new do |f|
        .control-group
          = f.label :email
          = f.text_field :email

        .control-group
          = f.label :password
          = f.password_field :password


      = render "shared/form_fields", response_fields: @response_fields, responsable: @vendor_profile

    .span8
      != # Faker::Lorem.paragraphs(3).join("<br /><br />")

  .form-actions
    = f.submit "Sign up", class: "btn btn-primary"