= render "projects/officer_nav"

= form_for @project do |f|
  .row-fluid
    .span6
      = f.label :body
      %textarea#project_body{"readonly" => true}= @project_revision.body

      %h5= t('projects.revisions')
      %ul
        - @project.project_revisions.each do |project_revision|
          - if project_revision.id == @project_revision.id
            %li= project_revision.created_at
          - else
            %li= link_to project_revision.created_at, project_project_revision_path(@project, project_revision)

    .span6
      .alert.alert-info
        = t('.alert_html', date: @project_revision.created_at.to_formatted_s(:readable), officer: @project_revision.saved_by_officer ? @project_revision.saved_by_officer.display_name : t('globals.unknown_officer'))

      %p
        = link_to t('.back_to_current_html'), edit_project_path(@project)

      %p
        = link_to t('.restore'), restore_project_project_revision_path(@project, @project_revision), method: :post