- provide :page_action, t('globals.revision_from_date', date: @project_revision.created_at)

= render "projects/officer_nav"

= form_for @project do |f|
  .row-fluid
    .span6
      = f.label :body
      %textarea#project_body{"readonly" => true}= @project_revision.body

      = render "project_revisions/list", project: @project, current_revision_id: @project_revision.id

    .span6
      .alert.alert-info
        = t('.alert_html', date: @project_revision.created_at.to_formatted_s(:readable), officer: @project_revision.saved_by_officer ? @project_revision.saved_by_officer.display_name : t('globals.unknown_officer'))

      %p
        = link_to t('.back_to_current_html'), edit_project_path(@project)

      %p
        = link_to t('globals.restore_this_version'), restore_project_project_revision_path(@project, @project_revision), method: :post
