= render "projects/officer_nav"

= form_for [@project, @amendment] do |f|
  = f.label :posted_at, t('postable_by_officer.live')
  .switch
    = f.check_box :posted_at

  = f.label :title
  = f.text_field :title, class: "span6"

  = f.label :body
  = f.text_area :body, cols: false, rows: 10, class: "span6"

  .form-actions
    = f.submit t('actions.amendment.update'), class: "btn btn-inverse"

=link_to t('actions.amendment.delete'), project_amendment_path(@project, @amendment), method: :delete, confirm: t('confirmations.amendment.delete')