!=page_header @project.title

= render "projects/officer_nav"

= form_for [@project, @amendment] do |f|
  = f.label :posted_at, "Live?"
  .switch{"data-on-label" => "Yes", "data-off-label" => "No"}
    = f.check_box :posted_at

  = f.label :title
  = f.text_field :title

  = f.label :body
  = f.text_area :body

  .form-actions
    = f.submit "Update Amendment", class: "btn btn-inverse"

=link_to "Delete Amendment", project_amendment_path(@project, @amendment), method: :delete, confirm: "Are you sure you want to delete this amendment?"