- provide :page_action, t('globals.edit_amendment')

= render "projects/officer_nav"

= form_for [@project, @amendment] do |f|
  = f.label :posted_at, t('globals.live')
  .switch
    = f.check_box :posted_at

  = f.label :title
  = f.text_field :title, class: "span6"

  = f.label :body
  = f.text_area :body, cols: false, rows: 10, class: "span6"

  .form-actions
    = f.submit t('globals.update_amendment'), class: "btn btn-inverse"

=link_to t('globals.delete_amendment'), project_amendment_path(@project, @amendment), method: :delete, confirm: t('globals.confirm_amendment_deletion')