- provide :page_title, t('globals.sign_in')

!=page_header t('globals.sign_in')

= form_tag sign_in_path, method: :post do

  %label=  User.human_attribute_name(:email)
  %input{"type" => "text", "name" => "user_session[email]", "value" => @user_session.email, "autofocus" => true}

  %label=  User.human_attribute_name(:password)
  %input{"type" => "password", "name" => "user_session[password]"}

  .form-actions
    %button.btn.btn-primary= t('globals.sign_in')
    = t('globals.or_sign_up.line_html', link: link_to(t('globals.or_sign_up.link'), new_vendor_path))

  .forgot-password-wrapper
    = t('globals.t('globals.forgot_password').line_html', link: link_to(t('globals.t('globals.forgot_password').link'), users_forgot_password_path))
