- provide :page_title, t('g.sign_in')

!=page_header t('g.sign_in')

= form_tag sign_in_path, method: :post do

  %label=  User.human_attribute_name(:email)
  %input.signin-page-input-email{"type" => "text", "name" => "user_session[email]", "value" => @user_session.email, "autofocus" => true}

  %label=  User.human_attribute_name(:password)
  %input.signin-page-input-password{"type" => "password", "name" => "user_session[password]"}

  .form-actions
    %button.btn.btn-primary.signin-page-submit-button= t('g.sign_in')
    = t('g.or_sign_up.line_html', link: link_to(t('g.or_sign_up.link'), new_vendor_path))

  .forgot-password-wrapper
    = t('g.did_you_forget_your_password.line_html', link: link_to(t('g.did_you_forget_your_password.link'), users_forgot_password_path))
