.navbar.navbar-inverse.navbar-static-top#navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %i.icon-bar
        %i.icon-bar
        %i.icon-bar
      %a.brand{"href" => root_path}= t('globals.site_name')
      .nav-collapse.collapse
        %ul.nav
          %li
            %a{"href" => projects_path}= t('.browse_projects')
        %ul.nav.pull-right
          - if signed_in?
            %li.dropdown
              %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
                %img.gravatar{"src" => current_user.gravatar_url}
                #{current_user.display_name}
                %b.caret
              %ul.dropdown-menu
                - if officer_signed_in?
                  %li
                    =link_to t('.my_projects'), mine_projects_path
                - elsif vendor_signed_in?
                  - if GlobalConfig.instance[:watch_projects_enabled]
                    %li
                      =link_to t('.watched_projects'), vendor_projects_watches_path
                  - if GlobalConfig.instance[:save_searches_enabled]
                    %li
                      =link_to t('.saved_searches'), saved_searches_path
                %li
                  =link_to "Settings", settings_profile_path

                - if (can? :manage, GlobalConfig) || (can? :update, Officer)
                  %li
                    = link_to raw("<strong>Admin</strong>"), officers_path

            - if officer_signed_in?
              %li
                %a{"href" => new_project_path, "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "New Project"}
                  %i.icon-pencil

            %li.dropdown
              %a.js-notification-dropdown-toggle.dropdown-toggle{"href" => notifications_path, "data-toggle" => "dropdown", "data-placement" => "bottom", "title" => "Notifications", "data-trigger" => "manual"}
                %i.icon-bullhorn
                - if current_user.unread_notification_count > 0
                  %span.badge= current_user.unread_notification_count

              %ul#notifications-dropdown.dropdown-menu
                %li.loading
                  %i.icon-refresh.icon-spin

            %li
              %a{"href" => sign_out_path, "data-method" => "delete", "rel" => "nofollow", "data-toggle" => "tooltip", "title" => "Sign out", "data-placement" => "bottom"}
                %i.icon-signout

          - else
            %li.dropdown
              %a.dropdown-toggle.js-dropdown-login-toggle{"href" => "#", "data-toggle" => "dropdown"} #{t('globals.sign_in')} <strong class="caret"></strong>
              = render "layouts/dropdown_login_form"


        %a.show-tour-link.pull-right
          %span.label.label-success= t('.show_tour')