!!! 5

%head
  %title= full_title(yield(:title))
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'layouts/shim'

%body
  = render 'layouts/navbar'

  .outer-container
    .container
      = yield

  %footer#footer
    .container
      Procure.io!

      - unless signed_in?
        %a.pull-right{"href" => new_officer_session_path} Officer Login
