!!! 5

%head
  %title!= full_title(yield(:page_title), yield(:page_action))
  - unless Rails.env.test?
    %link{"href" => 'http://fonts.googleapis.com/css?family=Telex', "rel" => 'stylesheet', "type" => 'text/css'}
  = stylesheet_link_tag "application", media: "all"
  != render 'layouts/javascript_environment'
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'layouts/shim'

%body{"data-controller" => params[:controller], "data-action" => params[:action]}
  #wrap
    = render 'layouts/navbar'
    .container#main-container
      = render "layouts/flash", flash: flash
      = yield

    #push

  %footer#footer
    .container
      .pull-left= t('.footer_html')
      .pull-right
        %a#hotkeys-indicator
          %span.label= t('g.hotkeys_available')
