!!! 5

%head
  %title!= full_title(yield(:page_title), yield(:page_action))
  = stylesheet_link_tag "application", media: "all"
  != render 'layouts/javascript_environment'
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'layouts/shim'

%body{"data-controller" => params[:controller], "data-action" => params[:action]}
  = render 'layouts/navbar'

  .outer-container
    .container
      = render "layouts/flash", flash: flash
      = yield

  %footer#footer
    .container
      .pull-left= t('.footer_html')
      .pull-right
        %a#hotkeys-indicator
          %span.label= t('globals.hotkeys_available')
