!!! 5

%head
  %title!= full_title(yield(:page_title), yield(:page_action))
  - unless Rails.env.test?
    %link{"href" => 'http://fonts.googleapis.com/css?family=Telex', "rel" => 'stylesheet', "type" => 'text/css'}
  = stylesheet_link_tag "application", media: "all"
  != render 'layouts/javascript_environment'
  = javascript_include_tag "application"
  = csrf_meta_tags
  = render 'layouts/shim'

%body{"data-controller" => params[:controller], "data-action" => params[:action], "class" => "body-#{params[:controller]}-#{params[:action]}"}
  #wrap
    = render 'layouts/navbar'
    .container#main-container
      = render "layouts/flash", flash: flash
      = yield

    #push

  %footer#footer
    .footer-container
      .logo-wrapper
        %a{"href" => "http://dobt.co"}
          %img.dobt-logo{"src" => image_path('dobt-logo.png')}

      .link-wrapper

        .footer-link-list
          %strong Get in touch
          %ul
            %li
              <i class="icon-envelope-alt"></i><a href="mailto:help@example.com">help@example.com</a>
            %li
              <i class="icon-phone"></i><a href="tel:123-456-7890">123-456-7890</a>
            %li
              <i class="icon-twitter"></i><a href="http://www.twitter.com/help">@help</a>

        .footer-link-list
          %strong Procure.io
          %ul
            %li= link_to "For Vendors", for_vendors_path
            %li= link_to "About us", "http://www.dobt.co/about/"
            %li= link_to "Terms of Service", "#"

      .clearfix

  - if content_for?(:tour)
    != render 'layouts/javascript_tour'

  - if Rails.env.in? %w(staging production)
    != render 'layouts/google_analytics'
